{% extends 'blogs/base.html' %}

{% block big_title %}
All user blogs
{% endblock %}

{% block content %}
<div class="row mb-2">
    {% if users %}
        {% for user in users %}
        {% if user.post_set.first %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">
                            <a href="{% url 'posts_index' user.username %}">{{ user.username }}'s blog</a>
                        </strong>
                        
                        <h3 class="mb-0">{{ user.post_set.first.title|slice:":40" }}...</h3>
                        <div class="mb-1 text-muted">{{ user.post_set.first.pub_date }}</div>
                        <p class="card-text mb-auto">{{ user.post_set.first.description|slice:":120" }}...</p>
                        <a href="{% url 'post_view' user.username user.post_set.first.id %}">Continue reading...</a>
                        
                    </div>
                    <div class="col-md-4 d-none d-lg-block" style="margin:5px">
                        {% if user.post_set.first.image %}
                            <img class="rounded img-thumbnail bd-placeholder-img" src="{{ user.post_set.first.image.url }}" alt="{{ user.post_set.first.title }}" title="{{ user.post_set.first.image }}" />
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    {% else %}
        <p>No blogs are available.</p>
    {% endif %}
</div>
{% endblock %}