{% extends 'blogs/base.html' %}

{% block big_title %}
New post
{% endblock %}

{% block big_description %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="save btn btn-outline-dark" type="submit">New post</button>
    </form>
{% else %}
    <div class="alert alert-danger" role="alert">
            You have to authenticate to add new post!
      </div>
{% endif %}
{% endblock %}