{% if post %}
<div class="blog-post row">
    <div class="col-2">
        {% if post.image %}
            <img class="rounded img-thumbnail" src="{{ post.image.url }}" alt="{{ post.title }}" title="{{ post.image }}" />
        {% endif %}
    </div>
    <div class="col-10">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta" style="margin-bottom: 0px;">{{ post.pub_date }} by <a href="{% url 'posts_index' post.owner.username %}">{{ post.owner.username }}</a></p>
        {% include "blogs/categories.html" with categories=post.category.all %}
        <p>{{ post.description }}</p>
        <a href="{% url 'post_view' post.owner.username post.id %}">Continue reading...</a>
    </div>
</div>
{% endif %}